<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VenueSyncApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VenueSync">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VenueSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- M0 note: AppAuth's RedirectUriReceiverActivity gets registered here in the
             Jul 19 auth session, with venuesync://oauth2redirect -->
    </application>

</manifest>
